@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

a {
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
