# OS
.DS_Store

# Node (PERN)
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Environment files
.env
.env.*
!.env.example
.vscode/

# Documents
pdf/
server/logs/
client/logs/
