version: '3.9'

services:
  server:
    build:
      context: ./server
    env_file: .env
    ports:
      - "4000:4000"
    restart: unless-stopped

  client:
    build:
      context: ./client
    env_file: .env
    ports:
      - "5173:5173"
    depends_on:
      - server
    restart: unless-stopped
