services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    env_file:
      - ./.env
    volumes:
      - ./server/logs:/app/logs
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on: []

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - VITE_API_URL=${VITE_API_URL}
    volumes:
      - ./client/logs:/app/logs
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"
    depends_on:
      - server
