version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "${SERVER_PORT:-4000}:${SERVER_PORT:-4000}"
    depends_on: []

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    ports:
      - "5173:5173"
    depends_on:
      - server
