name: Lint

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install client dependencies
        run: npm ci
        working-directory: client

      - name: Install server dependencies
        run: npm ci
        working-directory: server

      - name: Run client lint checks
        run: npm run lint
        working-directory: client

      - name: Run server lint checks
        run: npm run lint
        working-directory: server
